@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*Configuração gerais de classes*/
.container {
    max-width: 980px;
    min-width: 350px;
    box-sizing: border-box;
}

/*Estilização do Header*/
header {
    background-color: #0080ed;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1.8rem;
    transition: all 250ms lineal 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
}

header img {
    height: 30px;
}

/*Estilização Main*/
main {
    margin-bottom: 100px;
}

main div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto 0 auto;
}

h2 {
    color: #000;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 50px;
}

h3 {
    color: rgb(131, 131, 131);
    font-size: 1.4rem;
    line-height: 28px;
    margin: 10ṕx 0;
}

form input {
    width: 80%;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #0080ed;
}

form [type="submit"] {
    background-color: #0080ed;
    color: white;
    width: 150px;
    padding-left: 0px;
    font-size: 16px;
    height: 40px;
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 237, 0.75);
    transform: translateY(-2px);
}

main .container img {
    width: 600px;
}

input {
    width: 100px;
}

/*estilização cards*/
a {
    text-decoration: none;
}

.cards {
    width: 80%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.tex-medium {
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: 400;
    color: rgb(187, 185, 185);
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 225px;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0;
}

.form-input {
    width: 100%;
    display: grid;
    grid-template: 450px 100px / 35% 65%;
    font-size: 18px;
    min-height: 400px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}

.form-input-responsive {
    display: none;
    width: 100%;
    grid-template: 550px 100px / 100%;
    font-size: 18px;
    min-height: 400px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 20px 14px 14px 20px #cbced1, -14px -14px 20px white;
}

/*grid elemento 1*/
.contact-form {
    box-sizing: border-box;
    padding: 10px;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;


}

.contact-form h2 {
    color: rgba(0, 128, 237, 0.75);
    font-weight: bolder;
    font-size: 2.2rem;
    text-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.contact-form h5 {
    color: rgba(0, 128, 237, 0.75);
    font-weight: 300;
    text-shadow: -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.input-group {
    display: flex;
    flex-direction: column;

}

.input-group textarea {
    height: 30%;
    width: 98%;
    font-family: inherit;
    color: #0080ed;
    border: 0;
    outline: 1px solid #0080ed;
    border-radius: 5px;
}

.input-group button {
    width: 50%;
    height: 30px;
    font-family: inherit;
    font-size: inherit;
    color: #0080ed;
    border: 0;
    outline: 0;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.input-group button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.input-group button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.n-group {
    position: relative;
    margin-bottom: 30px;
}

.n-group:first-child {
    margin-top: 50px;
}

.input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    width: 98%;
    border: none;
    font: inherit;
    color: #FFF;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding-block: 5px;
    box-shadow: 5px 5px 5px #cbced1;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    font-size: 16px;
    color: #0080ed;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .35s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform:
        translate(0, -25px) scale(.7);
    color: #0080ed;
}

.border-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 2px;
    background-color: #0080ed;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .35s;
}

.input:focus~.border-bottom,
.input:valid~.border-bottom {
    transform: scaleX(1);
}

/*grid elemento 2*/
.contact-logo {
    background-image: url(../img/card-startse.png);
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 0 0;
}

.contact-logo img {
    max-width: 100%;
    max-height: 100%;
}

.contact-elements {
    background-color: #020204;
    border-radius: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-elements h5 {
    color: white;
    font-weight: 300;
    margin-left: 20px;
}

.contact-elements i {
    color: white;
    margin: 5px 10px;
    margin-left: 20px;
}

.contact-elements-responsive {
    margin-top: 30px;
    border-radius: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-elements-responsive i {
    color: #0080ed;
    margin: 5px 10px;
}

#form {
    max-width: 980px;
    margin: auto;
}

#form-responsive {
    max-width: 630px;
    width: 95%;
    margin: auto;
}

#checkbox-menu {
    display: none;
}